<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>站长管理</title>
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css">
    <script type="text/javascript" src="../../../layuiadmin/layui/layui.js" charset="utf-8"></script>
    <!-- 引入vue -->
    <script type="text/javascript" src="../../../layuiadmin/plugin/vue.js"></script>
    <script type="text/javascript" src="../../../layuiadmin/plugin/axios.js"></script>
    <script src="../../../layuiadmin/js/baseUrlConfig.js"></script>
    <style>
        .btn-box {
            text-align: center;
        }

        .btn-box button {
            /* margin-right: 30px; */
            margin-bottom: 10px;
        }

        .layui-form-label {
            width: 120px;

        }

        .layui-form-item .layui-input-inline {
            width: 460px;
        }

        .layui-form {
            padding-top: 20px;
        }

        .red {
            color: #f00;
            font-size: 22px;
        }

        .layui-form .layui-form-item .layuiIcon {
            width: 10px;
            height: 24px;
            background-color: #1188F6;
            display: inline-block;
            margin-bottom: -6px;
            margin-right: 10px;
        }

        .layui-upload-img {
            width: 170px;
            height: 40px;
        }

        .layui-pclogo-img {
            width: 93px;
            height: 60px;
        }

        .layui-code-img {
            width: 80px;
            height: 80px;
        }

        .layui-tab-card>.layui-tab-title {
            background-color: #0C7D9D;
            color: #fff;
        }
    </style>
</head>

<body>
    <div id="vm">
        <div class="layui-tab layui-tab-card">
            <ul class="layui-tab-title">
                <li class="layui-this">站长管理</li>
                <li>账号设置</li>
                <li>账号余额设置</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <label for="bitian" class="layui-form-label">
                                <i class="layuiIcon"></i>
                                <span>账户信息</span>
                            </label>
                        </div>
                        <div class="layui-form-item">
                            <label for="bitian" class="layui-form-label">
                                账号
                                <span class="red">*</span>
                            </label>
                            <div class="layui-input-inline">
                                <input type="text" lay-verify="required" name="limitValue" class="layui-input" placeholder="账号" />
                            </div>

                        </div>


                        <div class="layui-form-item">
                            <label for="bitian" class="layui-form-label">
                                <i class="layuiIcon"></i>
                                <span>修改密码</span>
                            </label>
                        </div>
                        <div class="layui-form-item">
                            <label for="bitian" class="layui-form-label">
                                原密码
                                <!-- <span class="red">*</span> -->
                            </label>
                            <div class="layui-input-inline">
                                <input type="text" name="limitValue" class="layui-input" placeholder="原密码" />
                            </div>

                        </div>
                        <div class="layui-form-item">
                            <div class="layui-form-item">
                                <label for="bitian" class="layui-form-label">
                                    新密码
                                    <!-- <span class="red">*</span> -->
                                </label>
                                <div class="layui-input-inline">
                                    <input type="text" id="passOne" name="limitValue" class="layui-input" placeholder="建议长度为8~16位英文数字组合" />
                                </div>

                            </div>

                        </div>
                        <div class="layui-form-item">
                            <div class="layui-form-item">
                                <label for="bitian" class="layui-form-label">
                                    确认密码
                                    <!-- <span class="red">*</span> -->
                                </label>
                                <div class="layui-input-inline">
                                    <input type="text" lay-verify="repass" name="limitValue" class="layui-input" placeholder="请再次输入密码" />
                                </div>

                            </div>

                        </div>

                        <div class="btn-box">
                            <button class="layui-btn" lay-submit lay-filter="formDemo">提交</button>
                            <button type="reset" class="layui-btn layui-btn-danger">取消</button>
                        </div>
                    </form>
                </div>
                <div class="layui-tab-item">
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <label for="bitian" class="layui-form-label">
                                管理员账号
                                <span class="red">*</span>
                            </label>
                            <div class="layui-input-inline">
                                <input type="text" lay-verify="required" name="limitValue" class="layui-input" placeholder="管理员账号" />
                            </div>

                        </div>
                        <div class="btn-box">
                            <button class="layui-btn" lay-submit lay-filter="AdminSubmit">提交</button>
                            <button type="reset" class="layui-btn layui-btn-danger">取消</button>
                        </div>
                    </form>
                </div>
                <div class="layui-tab-item">
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <label for="bitian" class="layui-form-label">
                                账户余额
                                <span class="red">*</span>
                            </label>
                            <div class="layui-input-inline">
                                <input type="text" lay-verify="required" name="limitValue" class="layui-input" placeholder="账户余额" />
                            </div>

                        </div>
                        <div class="btn-box">
                            <button class="layui-btn" lay-submit lay-filter="sumSubmit">提交</button>
                            <button type="reset" class="layui-btn layui-btn-danger">取消</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        layui.config({
            base: '../../../layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', "jquery", 'form'], function () {
            var form = layui.form,
                $ = layui.jquery;


            //自定义验证
            form.verify({
                //确认密码
                repass: function (value) {
                    if (value !== $('#passOne').val()) {
                        return '两次密码输入不一致';
                    }
                }
            });



            form.on('submit(warnForm)', function (data) {
           
                axios({
                    method: "post",
                    // url: layui.setter.BASEURL + 'environmental_intelligent_monitoring/twarnsubscribe/save',
                    url: layui.setter.BASEURL + 'environmental_intelligent_monitoring/twarnsubscribe/batchSave',
                    data: data.field,
                    headers: {
                        "Content-Type": "application/json;charset=UTF-8"
                    }
                }).then(function (res) {
                    if (res.data.code == 0) {
                        // console.log(res)
                        layer.msg('保存成功！', {
                            time: 500
                        }, function () {
                            window.parent.location.reload();
                            parent.layer.close('iframe');
                        }
                        );
                    } else {
                        vm.$notify.error({
                            title: '错误',
                            message: '保存失败'
                        });
                    }
                }).catch(function (err) {
                    // console.log(err);
                });
                return false;
            })
        })
        var vm = new Vue({
            el: "#vm",
            data: {
            
            },
            methods: {
            },

        });
    </script>
</body>

</html>