<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商户详情</title>
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css">
    <script type="text/javascript" src="../../../layuiadmin/layui/layui.js" charset="utf-8"></script>
    <!-- 引入vue -->
    <script type="text/javascript" src="../../../layuiadmin/plugin/vue.js"></script>
    <script type="text/javascript" src="../../../layuiadmin/plugin/axios.js"></script>
    <script src="../../../layuiadmin/js/baseUrlConfig.js"></script>

    <style>
        .btn-box {
            text-align: center;
        }

        .btn-box button {
            /* margin-right: 30px; */
            margin-bottom: 10px;
        }

        .layui-form-label {
            width: 130px;

        }

        .layui-form-item .layui-input-inline {
            width: 360px;
        }

        .layui-form {
            padding-top: 20px;
        }
    </style>
</head>

<body>
    <div id="vm">
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form" lay-filter="editMerchant">
                    <div class="layui-form-item">
                        <label for="bitian" class="layui-form-label">
                            商户类型
                        </label>
                        <div class="layui-input-inline">
                            <select name="mchType" id="eventType" disabled lay-filter="eventType" lay-verify="">
                                <option value="1">个人</option>
                                <option value="2">个体</option>
                                <option value="3">企业</option>
                                <option value="4">事业</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="bitian" class="layui-form-label">
                            商户账号
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" name="mchId" class="layui-input" placeholder="需为手机号格式" />
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="bitian" class="layui-form-label">
                            商户全称
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" name="mchName" class="layui-input" placeholder="请输入营业执照上的全称" />
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="bitian" class="layui-form-label">
                            商户绑定密码
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" name="pwd" class="layui-input" placeholder="商户绑定密码" />
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="bitian" class="layui-form-label">
                            商户简称
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" name="mchNameShort" class="layui-input" placeholder="商户简称" />
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="bitian" class="layui-form-label">
                            分期类型
                            <!-- <span class="red">*</span> -->
                        </label>
                        <div class="layui-input-inline" id="stagesType">

                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="bitian" class="layui-form-label">
                            客服电话
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" name="kfMobile" class="layui-input" placeholder="客服电话" />
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="bitian" class="layui-form-label">
                            邮箱
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" name="email" class="layui-input" placeholder="邮箱" />
                        </div>
                    </div>
                    <div class="btn-box">
                        <!-- <button class="layui-btn" lay-submit lay-filter="merchantForm">提交</button> -->
                        <button type="reset" class="layui-btn layui-btn-danger" @click="cancel">取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        layui.config({
            base: '../../../layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', "jquery", 'form'], function () {
            var form = layui.form,
                $ = layui.jquery;

            // checkbox事件类型数据填充
            axios({
                method: "post",
                url: BASEURL + 'mgr/tstagtab/queryUserStagList',
            }).then(function (res) {
                if (res.data.code == 0) {
                    $.each(res.data.data, function (index, item) {
                        $('#stagesType').append('<input type="checkbox" name="stagArray"  value="' + item.id + '" title="' + item.stagname + '" lay-skin="primary">');
                    });

                    // 单个信息数据展示
                    axios({
                        method: "get",
                        url: BASEURL + "mgr/payusermerchant/info/" + parent.id,
                    })
                        .then(res => {
                            if (res.data.code == 0) {
                                var list = res.data.payUserMerchant;
                                form.val('editMerchant', {
                                    'mchType': list.mchType,
                                    'mchId': list.mchId,
                                    'mchName': list.mchName,
                                    'pwd': list.pwd,
                                    'mchNameShort': list.mchNameShort,
                                    'kfMobile': list.kfMobile,
                                    'email': list.email,
                                    'id': list.id
                                });
                                var idList = list.tSpidlist;
                                for (i = 0; i < idList.length; i++) {
                                    var Checkbox = $("input[type=checkbox]");
                                    for (j = 0; j < Checkbox.length; j++) {
                                        if (Checkbox[j].value == idList[i]) {
                                            Checkbox[j].checked = true;  //设置选中
                                        }
                                    }
                                }
                                form.render();
                            } else {

                            }
                        })
                        .catch(error => {

                        });


                } else {

                }
            }).catch(function (err) {
                // console.log(err);
            });

        })
        var vm = new Vue({
            el: "#vm",
            data: {
            },
            methods: {
                cancel() {
                    parent.layer.closeAll('iframe');//关闭弹窗
                },
            },
            created() { }
        });
    </script>

</body>

</html>