<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>修改商户</title>
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css">
    <script type="text/javascript" src="../../../layuiadmin/layui/layui.js" charset="utf-8"></script>
    <!-- 引入vue -->
    <script type="text/javascript" src="../../../layuiadmin/plugin/vue.js"></script>
    <script type="text/javascript" src="../../../layuiadmin/plugin/axios.js"></script>
    <script src="../../../layuiadmin/js/baseUrlConfig.js"></script>

    <style>
        .btn-box {
            text-align: center;
        }

        .btn-box button {
            /* margin-right: 30px; */
            margin-bottom: 10px;
        }

        .layui-form-label {
            width: 130px;

        }

        .layui-form-item .layui-input-inline {
            width: 360px;
        }

        .red {
            color: #f00;
            font-size: 22px;
        }

        .layui-form {
            padding-top: 20px;
        }
    </style>
</head>

<body>
    <div id="vm">
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form" lay-filter="editMerchant">
                    <input type="hidden" name="id">
                    <div class="layui-form-item">
                        <label for="bitian" class="layui-form-label">
                            商户类型
                            <span class="red">*</span>
                        </label>
                        <div class="layui-input-inline">
                            <select name="mchType" id="eventType" lay-filter="eventType" lay-verify="">
                                <option value="1">个人</option>
                                <option value="2">个体</option>
                                <option value="3">企业</option>
                                <option value="4">事业</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="bitian" class="layui-form-label">
                            商户账号
                            <span class="red">*</span>
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" disabled name="mchId" class="layui-input layui-disabled" placeholder="需为手机号格式" />
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="bitian" class="layui-form-label">
                            商户全称
                            <span class="red">*</span>
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" name="mchName" class="layui-input" placeholder="请输入营业执照上的全称" />
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="bitian" class="layui-form-label">
                            商户绑定密码
                            <span class="red">*</span>
                        </label>
                        <div class="layui-input-inline">
                            <input type="password" id="passOne" name="pwd" class="layui-input" placeholder="商户绑定密码" />
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="bitian" class="layui-form-label">
                            确认密码
                            <span class="red">*</span>
                        </label>
                        <div class="layui-input-inline">
                            <input type="password" lay-verify="repass" class="layui-input" placeholder="商户确认密码" />
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="bitian" class="layui-form-label">
                            商户简称
                            <span class="red">*</span>
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" name="mchNameShort" class="layui-input" placeholder="商户简称" />
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="bitian" class="layui-form-label">
                            分期类型
                            <!-- <span class="red">*</span> -->
                        </label>
                        <div class="layui-input-inline" id="stagesType">

                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="bitian" class="layui-form-label">
                            客服电话
                            <span class="red">*</span>
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" lay-verify="phone" name="kfMobile" class="layui-input" placeholder="客服电话" />
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="bitian" class="layui-form-label">
                            邮箱
                            <span class="red">*</span>
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" lay-verify="email" name="email" class="layui-input" placeholder="邮箱" />
                        </div>
                    </div>
                    <div class="btn-box">
                        <button class="layui-btn" lay-submit lay-filter="merchantForm">提交</button>
                        <button type="reset" class="layui-btn layui-btn-danger" @click="cancel">取消</button>
                    </div>

            </div>
            </form>
        </div>
    </div>
    </div>
    <script>
        layui.config({
            base: '../../../layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', "jquery", 'form'], function () {
            var form = layui.form,
                $ = layui.jquery;

            //自定义验证
            form.verify({
                //确认密码
                repass: function (value) {
                    if (value !== $('#passOne').val()) {
                        return '两次密码输入不一致';
                    }
                }
            });
            form.on('radio(State)', function (data) {
                console.log(data);
                vm.valueState = data.value;
            })

            // checkbox事件类型数据填充
            axios({
                method: "post",
                url: BASEURL + 'mgr/tstagtab/queryUserStagList',
            }).then(function (res) {
                if (res.data.code == 0) {
                    $.each(res.data.data, function (index, item) {
                        $('#stagesType').append('<input type="checkbox" name="stagArray"  value="' + item.id + '" title="' + item.stagname + '" lay-skin="primary">');
                    });

                    // 单个信息数据展示
                    axios({
                        method: "get",
                        url: BASEURL + "mgr/payusermerchant/info/" + parent.id,
                    })
                        .then(res => {
                            if (res.data.code == 0) {
                                var list = res.data.payUserMerchant;
                                form.val('editMerchant', {
                                    'mchType': list.mchType,
                                    'mchId': list.mchId,
                                    'mchName': list.mchName,
                                    'pwd': list.pwd,
                                    'mchNameShort': list.mchNameShort,
                                    'kfMobile': list.kfMobile,
                                    'email': list.email,
                                    'id': list.id
                                });
                                var idList = list.tSpidlist;
                                for (i = 0; i < idList.length; i++) {
                                    var Checkbox = $("input[type=checkbox]");
                                    console.log(Checkbox)
                                    for (j = 0; j < Checkbox.length; j++) {
                                        if (Checkbox[j].value == idList[i]) {
                                            console.log(Checkbox[j].value)
                                            Checkbox[j].checked = true;  //设置选中
                                        }
                                    }
                                }
                                form.render();
                            } else {

                            }
                        })
                        .catch(error => {

                        });


                } else {

                }
            }).catch(function (err) {
                // console.log(err);
            });



            form.on('submit(merchantForm)', function (data) {
                vm.stagesTypeIdList = [];
                $("input:checkbox[name='stagArray']:checked").each(function (item) {
                    var obj = {
                        spid: $(this).val() - 0
                    }
                    vm.stagesTypeIdList.push(obj);

                })
                data.field.stagArray = vm.stagesTypeIdList;
                axios({
                    method: "post",
                    url: layui.setter.BASEURL + 'mgr/payusermerchant/update',
                    data: data.field,
                    headers: {
                        "Content-Type": "application/json;charset=UTF-8"
                    }
                }).then(function (res) {
                    if (res.data.code == 0) {
                        layer.msg('修改成功！', {
                            time: 500
                        }, function () {
                            window.parent.location.reload();
                            parent.layer.close('iframe');
                        });
                    } else {
                        layer.msg('修改失败！', {
                            time: 500
                        }, function () {
                            parent.layer.close('iframe');
                        });
                    }
                }).catch(function (err) {
                    // console.log(err);
                });
                return false;
            })
        })
        var vm = new Vue({
            el: "#vm",
            data: {
                valueState: "",
                stagesTypeIdList: []
            },
            methods: {
                cancel() {
                    parent.layer.closeAll('iframe');//关闭弹窗
                },
            },
            created() { }
        });
    </script>

</body>

</html>