<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>首页</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
  <style>
    .homeCard {
      width: 960px;
      height: 400px;
      border: 1px solid #0C7D9D;
      border-radius: 4px;
      margin: 60px auto;
      padding: 0;
    }
    .homeCard .header {
      width: 100%;
      height:50px;
      background-color: #0C7D9D;
      
    }
    .homeCard .homeText {
      text-align: center;
      font-size: 28px;
     line-height: 280px;
    }

  </style>
</head>

<body>

  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="homeCard">
          <div class="header"></div>
          <div class="homeText">
            欢迎管理员进入刷脸支付管理系统！
          </div>
        </div>

    </div>
  </div>
  </div>

  <script src="../../layuiadmin/layui/layui.js"></script>
  <script>
    layui.config({
      base: '../../layuiadmin/' //静态资源所在路径
    }).extend({
      index: 'lib/index' //主入口模块
    }).use(['index']);
  </script>
</body>

</html>